


<h2>个人信息</h2>
  <ul>
  	<br>
    <li><h4>昵称： <%= @user.name %></h4></li>
    <br>
    <li><h4>邮箱： <%= @user.email %></h4></li>
    <br>
    <li><h4>电话： <%= @user.phonenumber %></h4></li>
    <br>
    <li><h4>性别： <%= @user.sex %></h4></li>
	<br>
	<br>
    <h4><%= link_to '修改信息',edit_user_path(@user)  %></h4>
  </ul>



