<h1>个人信息</h1>
<br>
<h2>昵称</h2>
<%= @user.name %>
<h2>邮箱</h2>
<%= @user.email %>
<h2>电话</h2>
<%= @user.phonenumber %>
<h2>性别</h2>
<%= @user.sex %>
<br>
<br>
<br>
<%= link_to '修改信息',edit_user_path(@user)  %>